
<div class="container">
    <div class="row m-5">
        <div class="col-lg-6 text-center ">
            <img class="w-50  " [src]="singleList.images" alt="">

        </div>

        <div class="col-lg-6">
            <h1 id="h" class="text-center ">{{singleList.bookname}}</h1>
            <ul class="list-group shadow-lg mt-4 ">
                <li class="list-group-item py-4">
                    <span id="f" class="text-danger fs-4 p-3">Author</span>{{singleList.authorname}}
                </li>
                <li class="list-group-item py-4">
                    <span id="f" class="text-danger fs-4 p-3">Description</span>{{singleList.description}}
                </li>

                <li class="list-group-item py-4">
                    <span id="f" class="text-danger fs-4 p-3">Publisher</span>{{singleList.publisher}}
                </li>

                <li class="list-group-item py-4">
                    <span id="f" class="text-danger fs-4 p-3">Publish Date</span>{{singleList.publishingdate}}
                </li>

                <li class="list-group-item py-4">
                    <span id="f" class="text-danger fs-4 p-3">Pages</span>{{singleList.pages}}
                </li>

                <li class="list-group-item py-4">
                    <span id="f" class="text-danger fs-4 p-3">Price</span>₹{{singleList.price}}
                </li>

              

                

            </ul>

           

        </div>

    </div>

</div>


